*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courgette', cursive;
    scroll-behavior: smooth;
}

/* nav   */

nav{
    padding: 1% 5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav .logo{
    font-weight: 900;
}
nav .menu {
    width: 60%;
    margin-left: 20%;
}
nav .menu ul{
    list-style: none;
}
nav .menu ul li{
    display: inline;
    margin: 0 2%;
}
nav .menu ul li a{
    text-decoration: none;
    color: black;
    font-weight: 800;
    font-size: 18px;
}
nav .search{
    padding-left: -10%;
    padding-right: 5%;
    display: flex;
}
nav .search input{
    padding: 3px 10px;
    border-radius: 15px;
    width: 100%;
    outline: none;
    border-style: none;
    background-color: white;
}
nav .search i{
    position: relative;
     background-color: rgb(255, 123, 0);
   padding: 5px 8px;
   border-radius: 50%;
   color: white;
   margin-left: -10%;
   font-size: 13px;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
/* Home   */

#Home{
    margin: 5%;
}
#Home .bg{
    position: absolute;
    background-color: rgb(221, 163, 56);
    width: 30%;
    height: 90vh;
    right: 0;
    margin-top: -10%;
    z-index:-1 ;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
#Home img {
    float: right;
    width: 50%;
    margin-top: -5%;
    animation:right .5s;
}
@keyframes right{
    from{
        margin-right: -100%;
    }
    to{
        margin-right: 0%;
    }
}
#Home .context{
    width: 45%;
    animation: left 1s ;
}
@keyframes left{
    from{
        margin-left: -100%;
    }
    to{
        margin-left: 0%;
    }
}
#Home .context span{
    color: orange;
    font-weight: 900;
}
#Home  button{
    background-color: orange;
    color: white;
    margin-top: 5%;
    border-style: none;
    padding: 1% 2%;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    cursor: pointer;
    animation: button 2s  ;
}
@keyframes button {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
#Home .context button:hover{
    transform: scale(1.1);
}

/* About  */

#About{
    padding: 20% 0%;
}
#About h3{
    text-align: center;
}

#About .card1,#About .card2{
    position: relative;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    margin: 5% 10%;
    width: 80%;
}
#About .card1 p,#About .card2 p{
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 6% 5%;
}
#About  .card1 img,.card2 img{
    width: 350px;
    height: 190px;
    border-radius: 10px;
    transition: ease-in-out;
}
#About .card1 img{
    float: left;
    padding-right: 5%;
}
#About .card2 img{
    float: right;
    padding-left: 5%;
}

/* ourservice  */

#About .ourservice{
    background-color: rgb(238, 185, 87);
    height: 300vh;
    width: 100vw;
    padding: 3% 5%;
}
.ourservice h2{
    text-align: center;
    color: white;
}
.ourservice .cards{
    display: flex;
    padding: 3%;
}
.ourservice .cards .card{
    width: 100%;
    padding: 2% 0;
    background-color: white;
    margin: 0 1%;
    text-align: center;
}

.ourservice .cards p{
    font-size: 14px;
}
.ourservice .cards .card-5{
    animation: card5  5s ;  
}
@keyframes card5{
    0%{
        opacity: 0;
    }
    100%{
     opacity: 1;
 }
}
.ourservice .cards .card-4{
    animation: card4 4s ;
    
}
@keyframes card4{
    0%{
        opacity: 0;
    }
    100%{
     opacity: 1;
 }
}
.ourservice .cards .card-3{
    animation: card3 3s ;
    
}
@keyframes card3{
   0%{
       opacity: 0;
   }
   100%{
    opacity: 1;
}
    
}
.ourservice .cards .card-2{
    animation: card2 2s ;
    
}
@keyframes card2{
    0%{
        opacity: 0;
    }
    100%{
     opacity: 1;
 }
}
.ourservice .cards .card-1{
    animation: card1 1s ;
    
}
@keyframes card1{
    0%{
        opacity: 0;
    }
    100%{
     opacity: 1;
 }
}

/* work  */

#About .work{
    margin: 5% -5%;
    padding: 3% 10%;
    background-color: rgb(247, 245, 243);
    height:80vh;
    color: black;
}
#About .work h2{
    color: black;
}
.work .intro{
    text-align: center;
}
.work .intro img{
   width: 3%;
   align-items: center;
}
.work .intro h2{
    color: black;
}
#About .works{
    margin: 3% 0;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 50px;
}
#About .works img{
    width:120px;
    height: 120px;
    border-radius: 50%;
    margin: 1% 35%;
}
#About .works button{
    outline: none;
    border-style: none;
    background-color: orange;
    color: white;
    margin: 5% 0;
    padding: 2% 3%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}